



h2{
    
    margin: 91px;
    color: aquamarine;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h1{
    display: inline;
    font-size: 25px;
    margin: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 8px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.contenu{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 20s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate{
    0%,100%{
        background-image: url(paris5.jpg);
    }
    25%{
        background-image: url(LA.jpg);
    }
    50%{
        background-image: url(dubai.jpg);
    }
    75%{
        background-image: url(tokyo.jpg);
    }
    
}
h3{
    margin: 20px;
    display: block;
    transform: translateY(150px);
    position: relative;
    overflow: hidden;
    animation: 2.3s titleAnimation linear forwards;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
@keyframes titleAnimation{
    to{
        transform: initial;
    }
}
.texte{
    text-align: center;
    margin: 100px;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pdp{
    margin-top: 260px;
    display: inline-flex;
    margin-left: 25px;
    
}
body{
background-color: #6B5B95;
}
.a1{
    color: rgb(8, 0, 163);
}
.ville{
    margin-top: 80px;
}
.accueil{
       
       display: flex;
}
img{
    height: 50px;
    width: 70px;
    margin-top: 45px;
    border-radius: 8px;
}
fieldset{
    width: 27%;
    margin-left: 520px;
    background-color: #2d436b;
    border-radius: 8px;
    height: 300px;
    padding-top: 40px;
    border: 1px solid rgb(255, 255, 255);
}

h4{
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-family: monospace;
    font-size: 20px;
}
tr{
    color: rgb(255, 255, 255);
}
h5{
    font-size: 17.5px;
    color: rgb(255, 255, 255);
    font-family: monospace;
}
h6{
    margin-left: 550px;
    font-size: 20px;
    font-family: monospace;
    color: white;
}
.h1{
    color: rgb(255, 255, 255);
    
}
.app{
    margin-top: 750px;
    display: flex;
}
.x{
    margin-top: 750px;
    margin-left: 20px;
}
.avion{
    margin-left: 600px;
}
.app{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    font-size: larger;
}
.p1{
    color: white;
}
